/******************************************************************************/
/*-- scss:defaults --*/

/* Options for Callout Blocks */
$callout-color-note: #0d6efd;
$callout-color-tip: #198754;
$callout-color-caution: #fd7e14;
$callout-color-warning: #ffc107;
$callout-color-important: #dc3545;

/* Options for Tables */
$table-cell-padding-y: .25rem; /* make all tables condensed */

/******************************************************************************/
/*-- scss:rules --*/
